@page "/counter"
@using Cloud5mins.ShortenerTools.Core.Domain
@using Cloud5mins.ShortenerTools.TinyBlazorAdmin.Components.Shared
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: <FluentBadge Appearance="Appearance.Neutral">@currentCount</FluentBadge></p>

<FluentButton Appearance="Appearance.Accent" @onclick="IncrementCount">Click me</FluentButton>

<div>
    <SchedulesComponent schedules="@editedUrl.Schedules"></SchedulesComponent>
</div>

@code {
    private int currentCount = 0;

    private ShortUrlEntity editedUrl = new ShortUrlEntity();

    private void IncrementCount()
    {
        currentCount++;
    }
}