@page "/help"

<PageTitle>Tiny Blazor Admin - Help</PageTitle>

<h1>Help</h1>
<FluentCard Width="50%" Height="50%">
    <ul>
        <li>This is an admin tool, it can create, modify and delete any URL in your data store. Make sure you secure it properly.</li>
        <li>Refer to the <a href="https://github.com/microsoft/AzUrlShortener/blob/main/doc/faq.md">documentation on GitHub</a> for more details.</li>
        <li>Having an issue or an idea for a new feature? Please check the GitHub [issues](https://github.com/microsoft/AzUrlShortener/issues) or [discussions](https://github.com/microsoft/AzUrlShortener/discussions).</li>
    </ul>
</FluentCard>